
<launch>

    <node pkg="lawnmower" type="cloud_adapter" name="cloud_adapter" output="screen">
        <rosparam file="$(find bot_navigation)/param/gnss_offset.yaml"/>

        <param name="pub_topic_status"  value="/orec/status"/>
        <param name="sub_topic_auto_start"  value="/orec/auto_start"/>
        <param name="sub_topic_auto_stop"  value="/orec/auto_stop"/>
        <param name="sub_topic_speed"  value="/orec/speed"/>
        <param name="sub_topic_grass_start"  value="/orec/grass_start"/>
        <param name="sub_topic_grass_stop"  value="/orec/grass_stop"/>
    </node>

</launch>
